.cabeçalho{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
    color: white;
}
.btn{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.btn:hover{
    background-color: aquamarine;
}
.btn:active{
    background-color: black;
    color: white;
}